@font-face {
  font-family: 'spoqa';
  font-style: 'light';
  font-weight: 300;
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Light.eot);
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Light.eot?#iefix)
      format('embedded-opentype'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Light.woff) format('woff'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Light.otf) format('truetype');
  src: local(※),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Light.woff) format('woff');
}
@font-face {
  font-family: 'spoqa';
  font-style: 'normal';
  font-weight: 400;
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Regular.eot);
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Regular.woff) format('woff'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Regular.otf) format('truetype');
  src: local(※),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Regular.woff) format('woff');
}

@font-face {
  font-family: 'spoqa';
  font-style: 'medium';
  font-weight: 500;
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Medium.eot);
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Medium.woff) format('woff'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Medium.otf) format('truetype');
  src: local(※),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Medium.woff) format('woff');
}
@font-face {
  font-family: 'spoqa';
  font-style: 'bold';
  font-weight: 700;
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Bold.eot);
  src: url(assets/fonts/spoqa/SpoqaHanSansNeo-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Bold.woff) format('woff'),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Bold.otf) format('truetype');
  src: local(※),
    url(assets/fonts/spoqa/SpoqaHanSansNeo-Bold.woff) format('woff');
}
